html
    head
        //- script(src="https://code.jquery.com/jquery-3.3.1.js"
        //-       integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        //-       crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
        title Hello world!
    body
        #vueTasks
        block body
        //- p.header FSWD: #{season} #{year} header goes here
        //- block body
        //- p.footer FSWD: #{season} #{year} footer goes here
        //- p Last task viewed: #{lastTaskViewed}
        //- if authenticated
        //-     p You're in!
        //-     a(href='/users/logout') Logout
        //- else
        //-     p Maybe try logging in?
        //-     a(href='/users/login') Login
        //-     br
        //-     a(href='/users/register') Register
        script(src="/bundle.js")
